@model IEnumerable<Huerbog.Models.ForoList.ForoListModel>

@{
    ViewData["Title"] = "getReportedPost";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav2.css" />
<link rel="stylesheet" href="~/css/menuLateral.css" />
<link rel="stylesheet" href="~/css/neon1.css" />


<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }



</script>


<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>
    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<!-- Use any element to open the sidenav -->

<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>
<h1>Lista de publicaciones reportadas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Correo
            </th>
            <th>
                Título de la publicación
            </th>
            <th>
                Descripción
            </th>
            <th>
                Categoría
            </th>
            <th>
                Fecha de publicación
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="AdminControllerMVC" asp-action="viewUser" asp-route-id="@item.usuario.IdusuarioReg">@Html.DisplayFor(modelItem => item.usuario.Correo)</a>
                </td>
                <td>
                    <a asp-controller="ForoControllerMVC" asp-action="verPost" asp-route-id="@item.IdPost">@Html.DisplayFor(modelItem => item.TituloPost)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescPost)
                </td>
                <td>
                    @if (item.IdCatPublFk == 1)
                    {
                        <div>
                            General
                        </div>
                    }
                    else
                    {
                        <div>
                            Comercio
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPublicacion)
                </td>
                <td>
                    <a asp-action="deletePost" asp-route-id="@item.IdPost"class="alert-danger btn-neon3">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="indexAdmin" class="btn-regresar">Regresar</a>
</div>
<br />
<br />