@model Huerbog.Models.UserList.UserListModel

@{
    ViewData["Title"] = "viewUser";
}

<h1>viewUser</h1>

<div>
    <h4>UserListModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantPublicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantPublicacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reputacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reputacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantSolicitudes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantSolicitudes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Red)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Red)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UbicacionHuerta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UbicacionHuerta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DescHuerta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DescHuerta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AreaCultivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AreaCultivo)
        </dd>
    </dl>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Título
                </th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
</div>
<div>
    <a asp-action="listUsers">Regresar</a>
</div>
