@model Huerbog.Models.UserList.UserForoModel

@{
    ViewData["Title"] = "viewUser";
    Layout = "_Layout";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav.css" />
<link rel="stylesheet" href="~/css/menuLateral.css" />
<link rel="stylesheet" href="~/css/neon1.css" />
<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>
    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Ver lista de redes</a>
    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<!-- Use any element to open the sidenav -->

<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>

<div class="main">
    <h1>Ver usuario</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Apellido)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Apellido)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Correo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Correo)
            </dd>
            <dt class="col-sm-2">
                Cantidad de publicaciones
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.CantPublicacion)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Reputacion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Reputacion)
            </dd>
            <dt class="col-sm-2">
                Cantidad de solicitudes
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.CantSolicitudes)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Red)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Red)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.user.Telefono)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.user.Telefono)
            </dd>
            <dt class="col-sm-2">
                Ubicación de la huerta
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userHuerta.UbicacionHuerta)
            </dd>
            <dt class="col-sm-2">
                Descripción de la huerta
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userHuerta.DescHuerta)
            </dd>
            <dt class="col-sm-2">
                Área de cultivo
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.userHuerta.AreaCultivo)
            </dd>
        </dl>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Título
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Categoría
                    </th>
                    <th>
                        Fecha de publicación
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.userForo)
                {
                    <tr>
                        <td>
                            <a asp-controller="ForoControllerMVC" asp-action="verPost" asp-route-id="@item.IdPost">@Html.DisplayFor(modelItem => item.TituloPost)</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DescPost)
                        </td>
                        <td>
                            @if (item.IdCatPublFk == 1)
                            {
                                <div>
                                    General
                                </div>
                            }
                            else
                            {
                                <div>
                                    Comercio
                                </div>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FechaPublicacion)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div>
        <a asp-action="listUsers"class="btn-regresar">Regresar</a>
    </div>
</div>
<br />
<br />

