@model IEnumerable<Huerbog.Models.ForoList.ForoListModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpAcc

@{
    ViewData["Title"] = "IndexForoList";
}



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav2.css" />
<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "160px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>

    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>

    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>
</div>

<div class="float-md-none">
    <form class="d-flex mr-4" asp-controller="ForoControllerMVC" asp-action="IndexForoList">
        <input class="form-control me-2 mr-2" type="search" placeholder="Search" aria-label="Search" name="Buscar" required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>

<!-- Use any element to open the sidenav -->

<button asp-for="Reacciones" onclick="openNav()" class="fas fa-align-justify"></button>

<div class="main">
    <div class="container mb-5">
        <ul class="nav nav-tabs col-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("IndexForoList", new {id="all"})">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("IndexForoList", new {id="comerce"})">Ofrecimiento y solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("IndexForoList", new {id="general"})">Generales</a>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-12 col-md-9">
                <!--Un articulo-->
                <div class="row">
                    <!--el foreach hace que lo de abajo se repita tantas veces como encuentre registros en la lista del modelo
                    ej: si hay 10 registros en la tabla Foro entonces mostrará 10 veces dichas entradas-->
                    @foreach (var item in Model)
                    {
                        <div class="col-8">
                            <!--titulo post-->
                            <a class="h3" id="divTitulo" asp-action="verPost" asp-route-id="@item.IdPost">
                                @Html.DisplayFor(modelItem => item.TituloPost)

                            </a>

                            <!--descripcion post-->
                            <p id="divDescripcion">
                                @Html.DisplayFor(modelItem => item.DescPost)
                            </p>

                            <!--fecha publicacion-->
                            <a>
                                Fecha de publicación: @Html.DisplayFor(modelItem => item.FechaPublicacion)
                            </a>

                            <div>
                                Publicado por: @Html.DisplayFor(modelItem => item.usuario.Nombre) @Html.DisplayFor(modelItem => item.usuario.Apellido)
                            </div>

                            <a>
                                <div>

                                    <div>
                                        @if (item.IdCatPublFk == 1)
                                        {
                                            <div>
                                                Categoria de publicación: General
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                Categoria de publicación: Comercio
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>


                            <!--correo-->
                            <a type="button" id="btnVentana" asp-controller="ForoControllerMVC" asp-action="Contactarse" asp-route-id="@item.IdPost">Contactarse</a>

                            <!--fin correo-->

                            <br /><br />
                        </div>

                    }
                </div>
                <!--Fin articulo-->
                <!--Barra números-->
                <div class="btn-toolbar d-flex justify-content-center mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a asp-controller="ForoControllerMVC" asp-action="IndexForoList"> Inicio </a>
                        <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button>
                        <button type="button" class="btn btn-primary">4</button>
                        <button type="button" class="btn btn-primary">Final</button>
                    </div>
                </div>


            </div>
            <!--aside-->
            <div class="col-3">

            </div>
            <!--Fin aside-->
        </div>
    </div>
</div>



