@model IEnumerable<Huerbog.Models.ForoList.ForoListModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpAcc

@{
    ViewData["Title"] = "IndexForoList";
}

<link rel="stylesheet" href="~/css/mySlides.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/nav2.css" />
<link rel="stylesheet" href="~/css/menuLateral.css" />

<script>

    /* Set the width of the side navigation to 250px */
    function openNav() {
        document.getElementById("mySidenav").style.width = "260px";
    }

    /* Set the width of the side navigation to 0 */
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }

</script>

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

    <a asp-area="" asp-controller="ForoControllerMVC" asp-action="IndexForoList">Inicio</a>

    <a asp-controller="ForoControllerMVC" asp-action="searchRed">Ver lista de redes</a>

    <a asp-controller="ForoControllerMVC" asp-action="mapaHuertas">Mapa de huertas</a>

    <a asp-controller="ForoControllerMVC" asp-action="pagOficiales">Información general</a>

    <a asp-controller="ForoControllerMVC" asp-action="sendComm">Envíar comentarios sobre el sitio</a>
</div>

<div class="float-md-none">
    <form class="d-flex mr-4" asp-controller="ForoControllerMVC" asp-action="IndexForoList">
        <input class="form-control me-2 mr-2" type="search" placeholder="Search" aria-label="Search" name="Buscar" required>
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
</div>

<!-- Use any element to open the sidenav -->
<br />
<input type="checkbox" id="btn-menu" onclick="openNav()">
<label for="btn-menu" class="lbl-menu">
    <span id="spn1"></span>
    <span id="spn2"></span>
    <span id="spn3"></span>
</label>

<div class="slideshow-container">

    <!-- Full-width images with number and caption text -->
    <div class="mySlides ">
        <div class="numbertext"></div>
        <img src="~/Imagenes/huertas_urb_info.jpg" style="width:100%">
        <div class="text"><a href="https://www.jbb.gov.co/index.php/agricultura-urbana" target="_blank">Click aquí</a></div>
    </div>

    <div class="mySlides ">
        <div class="numbertext"></div>
        <img src="~/Imagenes/dir_huertas.jpg" style="width:100%">
        <div class="text"><a href="https://bogota.gov.co/mi-ciudad/ambiente/directorio-de-huertas-urbanas-en-bogota" target="_blank">Click aquí</a></div>
    </div>

    <div class="mySlides ">
        <div class="numbertext"></div>
        <img src="~/Imagenes/pág_oficial.jpg" style="width:100%">
        <div class="text"><a href="https://www.facebook.com/Red-de-Huertas-Comunitarias-Bogotá-181080942431521/" target="_blank">Click aquí</a></div>
    </div>

    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
</div>

<div class="main">
    <div class="container mb-5">
        <ul class="nav nav-tabs col-12 col-md-9">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("IndexForoList", new {id="all"})">Todos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("IndexForoList", new {id="comerce"})">Ofrecimiento y solicitudes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("IndexForoList", new {id="general"})">Generales</a>
            </li>
        </ul>
        <br>
        <div class="row">
            <div class="col-12 col-md-9">
                <!--Un articulo-->
                <div class="row">
                    <!--el foreach hace que lo de abajo se repita tantas veces como encuentre registros en la lista del modelo
                    ej: si hay 10 registros en la tabla Foro entonces mostrará 10 veces dichas entradas-->
                    @foreach (var item in Model)
                    {
                        <div class="col-8">
                            <!--titulo post-->
                            <a class="h3" id="divTitulo" asp-action="verPost" asp-route-id="@item.IdPost">
                                @Html.DisplayFor(modelItem => item.TituloPost)

                            </a>

                            <!--descripcion post-->
                            <p id="divDescripcion">
                                @Html.DisplayFor(modelItem => item.DescPost)
                            </p>

                            <!--fecha publicacion-->
                            <a>
                                Fecha de publicación: @Html.DisplayFor(modelItem => item.FechaPublicacion)
                            </a>

                            <div>
                                Publicado por: @Html.DisplayFor(modelItem => item.usuario.Nombre) @Html.DisplayFor(modelItem => item.usuario.Apellido)
                            </div>

                            <a>
                                <div>

                                    <div>
                                        @if (item.IdCatPublFk == 1)
                                        {
                                            <div>
                                                Categoria de publicación: General
                                            </div>
                                        }
                                        else
                                        {
                                            <div>
                                                Categoria de publicación: Comercio
                                            </div>
                                        }
                                    </div>
                                </div>
                            </a>


                            <!--correo-->
                            <a type="button" id="btnVentana" asp-controller="ForoControllerMVC" asp-action="Contactarse" asp-route-id="@item.IdPost">Contactarse</a>

                            <!--fin correo-->

                            <br /><br />
                        </div>

                    }
                </div>
                <!--Fin articulo-->
                <!--Barra números-->
                <div class="btn-toolbar d-flex justify-content-center mb-3" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group me-2" role="group" aria-label="First group">
                        <a asp-controller="ForoControllerMVC" asp-action="IndexForoList"> Inicio </a>
                        <button type="button" class="btn btn-primary">2</button>
                        <button type="button" class="btn btn-primary">3</button>
                        <button type="button" class="btn btn-primary">4</button>
                        <button type="button" class="btn btn-primary">Final</button>
                    </div>
                </div>


            </div>
            <!--aside-->
            <div class="col-3">

            </div>
            <!--Fin aside-->
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    // Next/previous controls
    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    // Thumbnail image controls
    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
    }

    var slideIndex2 = 0;
    showSlides2();

    function showSlides2() {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slideIndex2++;
        if (slideIndex2 > slides.length) { slideIndex2 = 1 }
        slides[slideIndex2 - 1].style.display = "block";
        setTimeout(showSlides2, 10000); // Change image every 10 seconds
        dots[slideIndex2 - 1].className += " active";
    }
</script>


