@model Huerbog.Models.TablaHuertum

@{
    ViewData["Title"] = "pruebaGeolocation";
}


<div class="container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3>Añadir información de la huerta</h3>
            <p>
                Diligencie el formulario con los datos indicados, arrastre el cursor del mapa hasta la ubicación deseada, también
                puede escribir la ciudad o la dirección para encontrar la locación, luego haga click en el botón "Guardar" para
                actualizar la información.
            </p>

            <div class="nav nav-masthead justify-content-center">
                <div class="row">
                    <div class="col-6">
                        <label><strong>Dirección</strong></label>
                        <input type="text" id="txtDireccion" class="form-control" placeholder="Ej: Cll 127 #18-29">
                    </div>
                    <div class="col-6">
                        <label><strong>Ciudad o barrio</strong></label>
                        <input type="text" id="txtEstado" class="form-control" placeholder="Ej: Bogotá, La Aurora">
                    </div>
                </div>

            </div>
        </div>
    </header>
    <main role="main" class="inner cover">

        <br />
        <form asp-controller="ForoControllerMVC" asp-action="pruebaGeolocation">
            <div class="row">
                <div id="map_canvas" style="height:400px" class="col-8">

                </div>
                <div class="col-4 form-group">
                    <input hidden asp-for="@Model.IdHuerta"/>
                    <label class="h3">Diligencie el formulario: </label>
                    <label><strong>Dirección</strong></label>
                    <input asp-for="@Model.UbicacionHuerta" type="text" class="form-control mb-2" placeholder="Ej: Cll 127 #18-29">
                    <span asp-validation-for="@Model.UbicacionHuerta" class="text-danger"></span>

                    <label><strong>Descripción de la huerta</strong></label>
                    <input asp-for="@Model.DescHuerta" type="text" class="form-control mb-2" placeholder="Ej: Siembra de zanahorias">
                    <span asp-validation-for="@Model.DescHuerta" class="text-danger"></span>

                    <label><strong>Área de la huerta</strong></label>
                    <input asp-for="@Model.AreaCultivo" type="text" class="form-control mb-2" placeholder="Ej: 3, 5.6, 8">
                    <span asp-validation-for="@Model.AreaCultivo" class="text-danger"></span>

                    <label><strong>Latitud</strong></label>
                    <input asp-for="@Model.Latitud" required readonly type="text" id="txtLat" class="form-control" placeholder="latitud">
                    <label><strong>Longitud</strong></label>
                    <input asp-for="@Model.Longitud" required readonly type="text" id="txtLng" class="form-control" placeholder="longitud">
                    <br />
                    <input type="submit" value="Actualizar" class="btn btn-primary float-right" />
                </div>
            </div>
        </form>
    </main>
    <br />
    <br />

</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZa00aHOWQX0T97gIrY42wXQN3VIYwslc&callback=initMap&libraries=&v=weekly"
        async></script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


<script>
    var vMarker
    var map
    map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 14,
        center: new google.maps.LatLng(4.6097100, -74.0817500),
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    vMarker = new google.maps.Marker({
        position: new google.maps.LatLng(4.6097100, -74.0817500),
        draggable: true
    });
    google.maps.event.addListener(vMarker, 'dragend', function (evt) {
        $("#txtLat").val(evt.latLng.lat().toFixed(6));
        $("#txtLng").val(evt.latLng.lng().toFixed(6));

        map.panTo(evt.latLng);
    });
    map.setCenter(vMarker.position);
    vMarker.setMap(map);

    $("#txtCiudad, #txtEstado, #txtDireccion").change(function () {
        movePin();
    });

    function movePin() {
        var geocoder = new google.maps.Geocoder();
        var textSelectM = $("#txtCiudad").text();
        var textSelectE = $("#txtEstado").val();
        var inputAddress = $("#txtDireccion").val() + ' ' + textSelectM + ' ' + textSelectE;
        geocoder.geocode({
            "address": inputAddress
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                vMarker.setPosition(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                map.panTo(new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng()));
                $("#txtLat").val(results[0].geometry.location.lat());
                $("#txtLng").val(results[0].geometry.location.lng());
            }

        });
    }
</script>